@tailwind base;
@tailwind components;
@tailwind utilities;

@property --grad-start {
  syntax: '<color>';
  initial-value: rgb(251, 237, 150);
  inherits: true;
}
@property --grad-end {
  syntax: '<color>';
  initial-value: rgb(171, 236, 214);
  inherits: true;
}

@keyframes cycle-gradient {
  0%, 100% {
    --grad-start: rgb(251, 237, 150);
    --grad-end: rgb(171, 236, 214);
  }
  33.33% {
    --grad-start: rgb(235, 187, 250);
    --grad-end: rgb(168, 236, 234);
  }
  66.67% {
    --grad-start: rgb(255, 182, 193);
    --grad-end: rgb(250, 235, 215);
  }
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: cycle-gradient 15s linear infinite;
}

::-moz-selection {
  color: rgba(0, 0, 0, 0.947);
  background: rgba(0, 255, 174, 0.572);
}

::selection {
  color: rgba(0, 0, 0, 0.947);
  background: rgba(0, 255, 174, 0.572);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  overscroll-behavior: none;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background-color: green ; */
  overscroll-behavior: none;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}
svg{
  overflow: visible;
}

li {
  text-decoration: none ;
}

li::marker,
li::-webkit-details-marker {
  content: none !important;
  display: none !important;
}
