@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  color: rgba(0, 0, 0, 0.947);
  background: rgba(0, 149, 255, 0.572);
}

::selection {
  color: rgba(0, 0, 0, 0.947);
  background: rgba(0, 255, 174, 0.572);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  overscroll-behavior: none;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #ffffff ;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
